.personal-details{
    margin-top: 80px;
    text-align: center;
}
.all-form-control{
    height: 175px;
    width: 25%;
    display: inline-block;
    background-color: white;
}
.verify-button{
 margin-top: 20px;   
}
.form-control{
    background: #fff;
    border: 1px solid #ddd;
    outline: 0;
    width: 72%;
    border-radius: 4px;
    font-size: 14px;
    padding: 9px;
    line-height: normal;
    color: #474747;
    font-family: ProximaNova-Regular;
    letter-spacing: .9px;
    position: relative;
}
.otp_heading{
    margin-left: -150px;
}
.notification-details{
    margin-top: 5px;
    text-align: center;
}
.notification_text{
    font-size: 12px;
    color: #9b9b9b;
}
.domain_text{
    font-size: 12px;
}
.all-notification-text{
    height: 70px;
    width: 25%;
    display: inline-block;
    background-color: white 
}